<a href="https://colab.research.google.com/github/lauraluebbert/IBM_Prof_Data_Science/blob/main/jupyter_labs_eda_sql_coursera.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


<h1 align=center><font size = 5>Assignment: SQL Notebook</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01" target="_blank">Spacex DataSet</a>

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [52]:
# %load_ext sql

In [53]:
# %sql ibm_db_sa://anonymous:@my-hostname:my-port/my-db-name?security=SSL

I will create a local database and query using sqlite3:

In [54]:
!pip install csvs-to-sqlite

Requirement already satisfied: csvs-to-sqlite in /usr/local/lib/python3.7/dist-packages (1.3)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from csvs-to-sqlite) (1.15.0)
Requirement already satisfied: dateparser>=1.0 in /usr/local/lib/python3.7/dist-packages (from csvs-to-sqlite) (1.1.1)
Requirement already satisfied: py-lru-cache~=0.1.4 in /usr/local/lib/python3.7/dist-packages (from csvs-to-sqlite) (0.1.4)
Requirement already satisfied: click~=7.0 in /usr/local/lib/python3.7/dist-packages (from csvs-to-sqlite) (7.1.2)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from csvs-to-sqlite) (1.3.5)
Requirement already satisfied: regex!=2019.02.19,!=2021.8.27,<2022.3.15 in /usr/local/lib/python3.7/dist-packages (from dateparser>=1.0->csvs-to-sqlite) (2019.12.20)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from dateparser>=1.0->csvs-to-sqlite) (2.8.2)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from dateparser>=1.0->csvs-to-sqlite) (2018.9)
Requirement already satisfied: tzlocal in /usr/local/lib/python3.7/dist-packages (from dateparser>=1.0->csvs-to-sqlite) (1.5.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->csvs-to-sqlite) (1.21.5)

In [55]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01
# Rename csv file
!mv "Spacex.csv?utm_medium=Exinfluencer" "spacex.csv"
# Convert to SQL database
!csvs-to-sqlite spacex.csv spacex.db

--2022-03-21 01:26:52--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.45.118.108
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.45.118.108|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11860 (12K) [text/csv]
Saving to: ‘Spacex.csv?utm_medium=Exinfluencer’

Spacex.csv?utm_medi 100%[===================>]  11.58K  --.-KB/s    in 0s

2022-03-21 01:26:53 (170 MB/s) - ‘Spacex.csv?utm_medium=Exinfluencer’ saved [11860/11860]

/usr/local/lib/python3.7/dist-packages/csvs_to_sqlite/cli.py:199: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  path, separator, skip_errors, quoting, shape, just_strings=just_strings
Loaded 1 dataframes
/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,
Added 1 CSV file to spacex.db

In [56]:
import sqlite3 as sql
import pandas as pd

In [57]:
# Create local database from csv
database = 'spacex.db'

# Make the connection
connection = sql.connect(database)

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [58]:
sql_query = '''SELECT DISTINCT Launch_Site FROM spacex'''

In [59]:
df = pd.read_sql_query(sql_query, connection)
df

    Launch_Site
0   CCAFS LC-40
1   VAFB SLC-4E
2    KSC LC-39A
3  CCAFS SLC-40

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [60]:
sql_query = '''
SELECT *
FROM spacex
WHERE Launch_Site LIKE 'CCA%'
LIMIT 5
'''

df = pd.read_sql_query(sql_query, connection)
df

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,04-06-2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,08-12-2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22-05-2012,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,08-10-2012,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,01-03-2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [65]:
sql_query = '''
SELECT SUM(PAYLOAD_MASS__KG_)
FROM spacex
WHERE Customer LIKE '%NASA (CRS)%'
'''

df = pd.read_sql_query(sql_query, connection)
df

   SUM(PAYLOAD_MASS__KG_)
0                   96426

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [66]:
sql_query = '''
SELECT AVG(PAYLOAD_MASS__KG_)
FROM spacex
WHERE Booster_Version LIKE '%F9 v1.1%'
'''

df = pd.read_sql_query(sql_query, connection)
df

   AVG(PAYLOAD_MASS__KG_)
0             2534.666667

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [81]:
sql_query = '''
SELECT min(Date)
FROM spacex
WHERE [Landing _Outcome] like 'Success (ground pad)'
'''

df = pd.read_sql_query(sql_query, connection)
df

    min(Date)
0  01-05-2017

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [112]:
sql_query = '''
SELECT Booster_Version
FROM spacex
WHERE [Landing _Outcome] like 'Success (drone ship)'
AND PAYLOAD_MASS__KG_ between 4000 and 6000
'''

df = pd.read_sql_query(sql_query, connection)
df

  Booster_Version
0     F9 FT B1022
1     F9 FT B1026
2  F9 FT  B1021.2
3  F9 FT  B1031.2
4     F9 FT B1022
5     F9 FT B1026
6  F9 FT  B1021.2
7  F9 FT  B1031.2

### Task 7

##### List the total number of successful and failure mission outcomes

In [92]:
sql_query = '''
SELECT COUNT()
FROM spacex
WHERE Mission_Outcome like '%Success%';
'''

df = pd.read_sql_query(sql_query, connection)
df

   COUNT()
0      200

In [93]:
sql_query = '''
SELECT COUNT()
FROM spacex
WHERE Mission_Outcome like '%Fail%';
'''

df = pd.read_sql_query(sql_query, connection)
df

   COUNT()
0        2

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [100]:
sql_query = '''
SELECT max(spacex.PAYLOAD_MASS__KG_)
FROM spacex
'''

df = pd.read_sql_query(sql_query, connection)
df

   max(spacex.PAYLOAD_MASS__KG_)
0                          15600

In [99]:
sql_query = '''
SELECT DISTINCT(Booster_Version)
FROM spacex
WHERE PAYLOAD_MASS__KG_ LIKE (SELECT max(spacex.PAYLOAD_MASS__KG_) FROM spacex)
'''

df = pd.read_sql_query(sql_query, connection)
df

   Booster_Version
0    F9 B5 B1048.4
1    F9 B5 B1049.4
2    F9 B5 B1051.3
3    F9 B5 B1056.4
4    F9 B5 B1048.5
5    F9 B5 B1051.4
6    F9 B5 B1049.5
7   F9 B5 B1060.2
8   F9 B5 B1058.3
9    F9 B5 B1051.6
10   F9 B5 B1060.3
11  F9 B5 B1049.7

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [101]:
sql_query = '''
SELECT [Landing _Outcome], Booster_Version, Launch_Site
FROM spacex
WHERE [Landing _Outcome] like 'Failure (drone ship)'
AND Date like '%2015'
'''

df = pd.read_sql_query(sql_query, connection)
df

       Landing _Outcome Booster_Version  Launch_Site
0  Failure (drone ship)   F9 v1.1 B1012  CCAFS LC-40
1  Failure (drone ship)   F9 v1.1 B1015  CCAFS LC-40
2  Failure (drone ship)   F9 v1.1 B1012  CCAFS LC-40
3  Failure (drone ship)   F9 v1.1 B1015  CCAFS LC-40

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [133]:
sql_query = '''
SELECT [Landing _Outcome],COUNT(*) as count
FROM spacex
WHERE Date >= '04-06-2010' AND Date <= '20-03-2017'
GROUP BY [Landing _Outcome] 
ORDER BY count DESC
'''

df = pd.read_sql_query(sql_query, connection)
df

       Landing _Outcome  count
0               Success     40
1            No attempt     20
2  Success (drone ship)     16
3  Success (ground pad)     12
4  Failure (drone ship)      8
5    Controlled (ocean)      6
6               Failure      6
7   Failure (parachute)      4
8           No attempt       2

## Author(s)

<h4> Lakshmi Holla </h4>
<h4> Tasks completed by: Laura Luebbert. </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-10-12 | 0.4     | Lakshmi Holla | Changed markdown          |
| 2021-08-24 | 0.3     | Lakshmi Holla | Added library update      |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>